<h1>Create a Product</h1>
<a href="/"><button>Inicio</button></a>
<form action="/api/products" method="post">
    <label for="title">titulo:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="description">descripcion:</label><br>
    <input type="text" id="description" name="description"><br>
    <label for="code">codigo:</label><br>
    <input type="text" id="code" name="code"><br>
    <label for="stock">stock:</label><br>
    <input type="stock" id="stock" name="stock"><br>
    <label for="price">precio:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="category">categoria:</label><br>
    <input type="text" id="category" name="category"><br>
    <label for="thumbnail">imagen:</label><br>
    <input type="text" id="thumbnail" name="thumbnail"><br>
    <input type="submit" value="Enter">
</form>