<h1>TODOS LOS PRODUCTOS</h1>
<a href="/"><button>INICIO</button></a>
<ul>
    {{#if allprod.length}}
    {{#each allprod}}
    <li> {{this}}
    </li>
    {{/each}}
    {{else}}
    <h3>No existe ningun producto</h3>
    {{/if}}
</ul>