<h1>Bienvenido a mi proyecto Backend</h1>

<a href="/realTimeProducts"><button> Realtime</button></a>
<a href="/allproducts"><button> Todos los productos</button></a>
<a href="/message"><button> Mensajes </button></a>