<h1>Bienvenido a mi proyecto de Backend!</h1>

<a href="/realTimeProducts"><button> Realtime </button></a>
<a href="/allproducts"><button> Todos los productos </button></a>
<a href="/createProd"><button> Crear producto </button></a>
<a href="/searchProd"><button> Buscar producto </button></a>