<h1>Buscar producto</h1>



<form action="/api/products/id" method="get">
    <label for="id">ID: </label>
    <input type="text" id="id" name="id">
    <input type="submit" value="Enter">
</form>

<a href="/"><button>Inicio</button></a>